.addNewPost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
}

.textarea{
    resize:none;
}
div {

}

main {
    border: 1px solid green;
}